
# nest_m git-ignored files

# local config file
config/config.ini
# local static resources dir
public_dist/
# virtualenv
python/
# npm install
node_modules/

logs/
*.log



# Python
# Distribution / packaging
build/
dist/
*.egg-info
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OSX
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Linux
*~
# KDE directory preferences
.directory

# Windows
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
