
<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Nest+m Coding Course Material | {% block page_title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block css %}
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!--<link rel="stylesheet" href="css/fonts.css" type="text/css">-->
      <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    {% endblock %}
  </head>
  <body>
    <header id="site_header">
    {% block header %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="logo">Nest+m Coding Course Materials</a>
          </div>
          <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav">-->
              <!--<li><a href="#"></a></li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </nav>
    {% endblock %}
    </header>

    <div id="site_body">
      <div id="site_content" class="container">
        {% block body %}{% endblock %}
      </div>
    </div>

    <footer id="site_footer"></footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
