<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Nest+m Coding Course Material | {% block page_title %}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block css %}
      <link rel="stylesheet" href="static/reveal/reveal.css" type="text/css">
      <link rel="stylesheet" href="static/reveal/theme/solarized.css" type="text/css">
      <!--<link rel="stylesheet" href="css/fonts.css" type="text/css">-->
      <!--<link rel="stylesheet" href="static/css/slides_styles.css" type="text/css">-->
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
