
{% extends "base_slides.html" %}

{% block head %}
<title>Creating a Python Application</title>

<meta name="description" content="NEST+M Coding Course -- Using modules and packages to create your first Python Application.">
<meta name="author" content="David Stolfo">
{% endblock %}

{% block body %}
<div class="reveal">
  <div class="slides">
    <section>
      <h3>Create a Python Application</h3>
      <p class="center">
        <small>blah blah</small>
      </p>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="static/js/reveal_init.js"></script>
{% endblock %}
