
{% extends "base.html" %}

{% block body %}
<div class="site_content_header row">
  <div class="col-sm-12">
    <h2>Hello!</h2>
    <p> Hello Nest+m aspiring coders!</p>
    <p>The purpose of this site will be to provide introductory python slides,
    and link to sample applications for your use as you explore the world of python.</p>
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h2>Class Slides</h2>
    <ul>
        <li><a href="/slides_1">Presentation 1</a></li>
    </ul>
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h3>Suggested Reading & References</h3>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="static/js/home.js"></script>
{% endblock %}
