
{% extends "base.html" %}

{% block body %}
<div class="site_content_header row">
  <div class="col-sm-12">
    <strong>Hello NEST+M aspiring coders!</strong>
    <p>The purpose of this site will be for us to collaborate as a class to share resources and code as you learn to write Python applications.
    I'll link slides for introductions to concepts, and coding samples hosted on <a href="https://github.com/">github</a> to give you a start as you learn to write applications yourselves.
    <br /><br />This site is also very much a work in progress; through the end of the school year I'll continue to add new content here. Check back frequently!
    <br /><br />Please feel free to contact me directly if you have questions. I'm happy to answer as many questions as I can, and anything relevant to the class I will link here.
    <br /><br /><a href="mailto:dave.nestm@fastmail.fm">dave.nestm@fastmail.fm</a>
    <br /><br />--Dave
    </p>
    <!--<p><a href="https://github.com/dstolfo/nest_m/tree/master/samples">Sample Applications</a></p>-->
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h2>Slides</h2>
    <ul>
      <li><a href="/slides_1">Getting started with Python</a></li>
    </ul>
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h3>Suggested Reading & References</h3>
    <p>Throughout your introduction to Python, I'll add links here to compelling outside material. If you come across articles or links that you find particularly helpful, please share and we can add it to the list for the rest of the class. :)</p>
    <ul>
      <li><a href="http://bit.ly/1P0hBP3">The Python Standard Library By Example, by Doug Hellmann</a><br />
        <p><em>(Highly recommended)</em> One of Python's greatest features is the standard library, the core set of modules available to every Python application. Through the examples in this book, you can see practical real world code snippets that can guide you as you learn to interact with modules and extensions in Python.</p></li>
      <li><a href="http://bit.ly/1FTfZVV">10 Myths of Enterprise Python, Paypal</a><br />
        <p>An interesting read from Paypal addressing many of the commonly asked questions about the Python language.</p></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="static/js/home.js"></script>
{% endblock %}
