
{% extends "base.html" %}

{% block body %}
<div class="site_content_header row">
  <div class="col-sm-12">
    <strong>Hello NEST+M aspiring coders!</strong>
    <p>The purpose of this site will be for us to collaborate as a class to share resources and code as you learn to write Python applications.
    I'll link slides for introductions to concepts, and coding samples hosted on <a href="https://github.com/">github</a> to give you a start as you learn to write applications yourselves.
    <br /><br />This site is also very much a work in progress; through the end of the school year I'll continue to add new content here. Check back frequently!
    <br /><br />--Dave
    </p>
    <!--<p><a href="https://github.com/dstolfo/nest_m/tree/master/samples">Sample Applications</a></p>-->
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h2>Slides</h2>
    <ul>
      <li><a href="/slides_1">Getting started with Python</a></li>
      <!--<li><a href="/slides_2">Create a Python Application</a></li>-->
    </ul>
  </div>
</div>
<div class="site_content_header row">
  <div class="col-sm-12">
    <h3>Suggested Reading & References</h3>
    <p>Throughout your introduction to Python, I'll add links here to compelling outside material. If you come across articles or links that you find particularly helpful, please share and we can add it to the list for the rest of the class. :)</p>
    <ul>
        <li>
        <a href="http://bit.ly/1P0hBP3">The Python Standard Library By Example, by Doug Hellmann</a><br />
        <p><em>(Highly recommended)</em> One of Python's greatest features is the standard library, the core set of modules available to every Python application. Through the examples in this book, you can see practical real world code snippets that can guide you as you learn to interact with modules and extensions in Python.</p>
      </li>
      <li>
        <a href="http://bit.ly/1FTfZVV">10 Myths of Enterprise Python, Paypal</a><br />
        <p>An interesting read from Paypal addressing many of the commonly asked questions about the Python language.</p>
      </li>
      <li>
        <a href="http://bit.ly/1E3pEW9">The Hitchhiker's Guide to Python</a>
        <p>One of Python's strongest features, and the developer community at large, is the abundance of community maintained documentation. <em>You can learn any language just be reading the docs!</em>
        For Python, one of the best beginner documentation resources is The Hitchhiker's Guide to Python; diving into great detail about many of the "Best Practices" in Python. It can be a little complicated at first, however it makes for a great reference tool to go back to as you learn more about programming.</p>
      </li>
      <li>
        <a href="http://bit.ly/1GWV4AL">The Hitchhiker's Guide to Python -- Structuring Your Project</a>
        <p>One of the most valuable sections of the Hitchhiker's Guide to Python is explaining Python's module, package and import architecture. As your projects grow you will begin to have an unruly amount of code. This will be very exciting but also difficult to manage, so you may want to organize your code into related functional areas. Using modules and pacakges allow you to split up your application to keep your project organized, as well as share code within the application.</p>
      </li>
      <li>
       <a href="http://bit.ly/1Ib7NRV">The Hitchhiker's Guide to Python -- Virtual Environments</a>
       <p>The "Getting Started with Python" slides cover how to use <strong>pip</strong> to install PyPi libraries to add extended functionality to Python. However, different Python applications may rely on different libraries, or even different versions of the same library, which can cause conflicts on your computer. Covered in the Hitchhiker's Guide to Python is the solution to how to install Python libraries in a special environment so they're specific to the project you are working on. This tool is called a <strong>Virtual Environment</strong>.</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="static/js/home.js"></script>
{% endblock %}
